@model IEnumerable<Buoi3_2011060858_VoDuyPhuoc.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul>
        @foreach (var course in Model)
        {
            <li style="font-size:large">
                @course.DateTime - @course.Lecturer.Name
            </li>
        }
    </ul>
</div>

